header {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 86px;
    margin-bottom: 50px;
    .nico {
        font-family: $--typo-medium;
        font-size: 5vw;
        position: relative;
        color: $--grey-color;
        &::after {
            position: absolute;
            content: '';
            height:1.2vw;
            width: 1.2vw;
            background: $--gradient-blue-brown;
            border-radius: 100%;
            left: 50.5%;
            top: 48%;
        }
    }

    .nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 4vw;
        font-family: $--typo-regular;
        font-size: 1.9vw;
    }
}